
$bodyBackground: #21232E;
$contentBackground: #3B3F50;
$underline: #FF4E33;
$fontColor: #fff; 
$buttonColor: #E3AC00;
$contentColor: #C0C3CE;
$firstGradientColor:#DEA506; 
$lastGradientColor:#98354D;
$heroImg: url(../img/m-h-night.jpg);
$contentFontFamily: 'Fresca';
$fonts:("big": 'Source Sans Pro',"medium":'Hind',"small": $contentFontFamily);
$borderRadius: 6px;

 


