$bodyBackground: #fff;
$contentBackground: #21232E;
$underline: #14A0C7;
$fontColor: #2C2F3C;  
$buttonColor: #699900;
$contentColor: #C0C3CE;
$firstGradientColor:#649411; 
$lastGradientColor:#2E5CD6;
$heroImg: url(../img/m-h-day.jpg);
$contentFontFamily: 'Hind';
$fonts:("big": 'Source Sans Pro', "medium":'Hind',"small": $contentFontFamily);
$borderRadius: 6px;


